@charset "UTF-8";

/*general
===============================================================================*/
body{
    width:100%;
    height:100%;
    line-height: 1;
    background-color:#192f60;
}
.a_none{
    text-decoration: none;
}
.ul_none{
    list-style: none;
}
.theme_font{
    font-family:"Orbitron", sans-serif;
    color:silver;
}
.content_font{
    font-family:"M PLUS 1", system-ui;;
}
/*Wrapper
===============================================================================*/

/*Header
===============================================================================*/
header{
    background-color:#192f60;
    display: flex;  
    flex-flow: column;
    border-bottom:4px solid silver;
}
.title{
    margin:0.5rem 0 0 0;
    text-align: center;
    border:2px solid silver;
    padding:0.25rem;
}
.global_nav{
    margin:0.5rem 0;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    text-align: center;
    gap:0.25rem;
}
.global_nav li{
    padding:0.25rem;
    border: 2px solid silver;
}
/*Main
===============================================================================*/
.article_title{
    margin:1.5rem 0 0 0;
    border: 2px solid silver;
    padding:0.5rem;
}
.article_content{
    margin:0.5rem 0 0 0;
    padding:0.5rem;
    background-color: silver;
}
/*Aside
===============================================================================*/
.aside_content{
    margin:0.5rem 0 0 0;
    border: 2px solid silver;
    padding:0.5rem;
}
/*Archive
===============================================================================*/
.archive_content{
    margin:0.5rem 0 0 0;
    border: 2px solid silver;
    padding:0.5rem;
}
/*Advertisement
===============================================================================*/
.ad_content{
    margin:0.5rem 0 0 0;
    border: 2px solid silver;
    padding:0.5rem;
}
/*Footer
===============================================================================*/
footer{
    border-top:4px solid silver;
    margin:1.5rem 0 0 0;
    padding:0.5rem;
}